<div class="col-6 offset-3">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <div class="card">
      <div class="card-header">Formulario Tipo Accidente</div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="nombre_equipo">Nombre</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nombre_equipo"
                   required
                   [(ngModel)]="typeAccident.name" name="nombre_equipo"
                   #name="ngModel">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="description">Descripcion</label>
          <div class="col-sm-10">
        <textarea class="form-control" id="description"
                  rows="6"
                  [(ngModel)]="typeAccident.description" name="description">
        </textarea>
          </div>
        </div>
      </div>
      <div class="card-footer"><button type="submit" class="btn btn-success pull-right" [disabled]="!heroForm.form.valid">Guardar</button></div>
    </div>
  </form>
</div>
<br><br>
<div class="col-sm-10 offset-1">
  <div class="card-header">
    Tipos de Accidentes
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Opciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let typeAccident of typeAccidents">
        <td>{{typeAccident.id}}</td>
        <td>{{typeAccident.name}}</td>
        <td>{{typeAccident.description}}</td>
        <td>
          <button type="button" class="btn btn-outline-info" (click)="editTypeAccident(typeAccident)">
            <span class="fa fa-lg fa-pencil-square-o"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
