<div class="container">
  <button class="btn btn-info pull-right" routerLink="/etapa/create">Crear Etapa</button>
  <div class="clearfix"></div>
  <br>
  <div class="card">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Codigo</th>
        <th scope="col">Numero de empleados</th>
        <th scope="col">Fecha Inicio</th>
        <th scope="col">Fecha Final</th>
        <th scope="col">Opciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let etapa of etapas">
        <td>{{etapa.nombre}}</td>
        <td>{{etapa.code}}</td>
        <td>{{etapa.nroEmpleados}}</td>
        <td>{{etapa.fechaInicio | date:'yyyy-MM-dd'}}</td>
        <td>{{etapa.fechaFin | date:'yyyy-MM-dd'}}</td>
        <td>
          <button type="button" class="btn btn-outline-info" (click)="editObra(etapa)">
            <span class="fa fa-lg fa-pencil-square-o"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
