<div class="col-6 offset-3">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <legend>Formulario Asignar Etapas</legend>
    <div class="form-group row">
      <label for="tipoContractId" class="col-form-label col-sm-2">Etapas</label>
      <div class="col-sm-10">
        <select class="form-control"  id="tipoContractId"
                required
                [(ngModel)]="obraEtapa.etapaId" name="tipoContractId">
          <option *ngFor="let etapa of etapas" [value]="etapa.id">{{etapa.nombre}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="especializacion">Descripcion</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="especializacion"
                  rows="6"
                  [(ngModel)]="obraEtapa.description" name="especializacion">
        </textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Asignar</button>
  </form>
</div>
<br><br>
<div class="container">
  <div class="card">
    <div class="card-header">
      Etapas Asignados
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Etapa</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let obraEtapa of obraEtapas">
          <td>{{obraEtapa.id}}</td>
          <td>{{obraEtapa.etapaName}}</td>
          <td>{{obraEtapa.description}}</td>
          <td>
            <button type="button" class="btn btn-link"
                    placement="left" ngbTooltip="ELIMINAR ASIGNACION DE OBRA"
                    (click)="deleteObraEtapa(obraEtapa)">
              <span class="fa fa-lg fa-trash text-danger"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
