<div class="col-6 offset-3">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <legend>Nuevo Tipo Equipo</legend>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="nombre_equipo">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre_equipo"
               required
               [(ngModel)]="tipoEquipo.nombre_equipo" name="nombre_equipo"
               #name="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="code">Codigo</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="code"
               [(ngModel)]="tipoEquipo.code" name="code"
               #name="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="descripcion">Descripcion</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="descripcion"
               [(ngModel)]="tipoEquipo.nombre_maquina" name="descripcion">
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Guardar</button>
  </form>
</div>
