<div class="col-sm-10 offset-1">
  <div class="form-group">
    <button class="btn btn-info pull-right" (click)="openCreateEmployee()">Crear Empleado</button>
  </div>
  <div class="clearfix"></div>
  <br>
  <div class="card">
    <p>
      <button type="button" class="btn btn-outline-secondary" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        <i class="fa fa-search"></i>
      </button>
      <button type="button" class="btn btn-outline-warning" (click)="getEmployeesList()">
        Restaurar
      </button>
    </p>
    <div [ngbCollapse]="isCollapsed" class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="form-group row">
            <label for="departamentId" class="col-form-label col-sm-4">Busqueda por departamento</label>
            <div class="col-sm-8">
              <div class="input-group">
                <select class="form-control"  id="departamentId"
                        required
                        [(ngModel)]="departamentId" name="departamentId">
                  <option *ngFor="let departamento of departaments" [value]="departamento.id">
                    {{departamento.depName}}
                  </option>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-info" type="button" (click)="getEmployeesFilterList()" [disabled]="!departamentId">Buscar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nombres</th>
        <th scope="col">CI</th>
        <th scope="col">Telefono</th>
        <th scope="col">Celular</th>
        <th scope="col">Fecha Nac</th>
        <th scope="col">Estado Civil</th>
        <th scope="col">Direccion</th>
        <th scope="col">Opciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.firstName}} {{employee.lastName}}</td>
        <td>{{employee.ci}}</td>
        <td>{{employee.telefono}}</td>
        <td>{{employee.celular}}</td>
        <td>{{employee.fechaNacimiento}}</td>
        <td>{{employee.estadoCivil}}</td>
        <td>{{employee.direccion}} {{employee.segundaDireccion}}</td>
        <td>
          <button type="button" class="btn btn-outline-info" (click)="editEmployee(employee)"
                  placement="right" ngbTooltip="EDITAR EMPLEADO">
            <span class="fa fa-lg fa-pencil-square-o"></span>
          </button>
          <button type="button" class="btn btn-outline-info" (click)="addEmployeeObra(employee)"
                  placement="right" ngbTooltip="ASIGNAR OBRA">
            <i class="fa fa-lg fa-home" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-outline-info" (click)="addEmployeeEquipo(employee)"
                  placement="right" ngbTooltip="ASIGNAR EQUIPO">
            <i class="fa fa-lg fa-cubes" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
