<div class="offset-3 col-sm-6">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <legend>Formulario crear Almacen</legend>
    <hr>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="depName">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="depName"
               required
               [(ngModel)]="almacen.name" name="depName"
               #name="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="depCode">Codigo</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="depCode"
               [(ngModel)]="almacen.code" name="depCode">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="ubicacion">Ubicacion</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="ubicacion"
               [(ngModel)]="almacen.ubicacion" name="ubicacion">
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Guardar</button>
  </form>
</div>
