<div class="col-6 offset-3">

  <p>
    <span class="btn btn-link" (click)="collapseForm()"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      Crear Accidente
    </span>
    <span class="btn btn-link pull-right" (click)="collapseFormFilter()"
          [attr.aria-expanded]="!isCollapsedFilter" aria-controls="collapseExample">
      <i class="fa fa-lg fa-search"></i>
    </span>
  </p>
  <div [ngbCollapse]="isCollapsed" class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
          <div class="card-body">
            <div class="form-group row">
              <label for="employeeId" class="col-form-label col-sm-2">Empleado</label>
              <div class="col-sm-10">
                <select class="form-control"  id="employeeId"
                        required
                        [(ngModel)]="accident.employeeId" name="employeeId">
                  <option *ngFor="let employee of employees" [value]="employee.id">{{employee.firstName}} {{employee.lastName}}</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label for="typeAccidentId" class="col-form-label col-sm-2">Tipo Accidente</label>
              <div class="col-sm-10">
                <select class="form-control"  id="typeAccidentId"
                        required
                        [(ngModel)]="accident.typeAccidentId" name="typeAccidentId">
                  <option *ngFor="let typeAccident of typeAccidents" [value]="typeAccident.id">{{typeAccident.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="description">Descripcion</label>
              <div class="col-sm-10">
                  <textarea class="form-control" id="description"
                            rows="6"
                            [(ngModel)]="accident.description" name="description"></textarea>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success pull-right" [disabled]="!heroForm.form.valid">Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
  <div [ngbCollapse]="isCollapsedFilter" class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="card-body">
          <div class="form-group row">
            <label for="typeAccidentFilter" class="col-form-label col-sm-4">Buscar por Tipo Accidente</label>
            <div class="col-sm-8">
              <div class="input-group">
                <select class="form-control"  id="typeAccidentFilter"
                        required
                        [(ngModel)]="typeAccidentFilter" name="typeAccidentFilter">
                  <option *ngFor="let typeAccident of typeAccidents" [value]="typeAccident.id">
                    {{typeAccident.name}}
                  </option>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-info" type="button" (click)="getFilterAccidentes()" [disabled]="!typeAccidentFilter">Buscar</button>
                  <button class="btn btn-warning" type="button" (click)="getAccidents()">Restaurar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<br><br>
<div class="col-sm-10 offset-1">
  <div class="card-header">
    Accidentes
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Opciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let accident of accidents">
        <td>{{accident.id}}</td>
        <td>{{accident.employeeData}}</td>
        <td>{{accident.description}}</td>
        <td>
          <button type="button" class="btn btn-outline-info" (click)="editAccident(accident)">
            <span class="fa fa-lg fa-pencil-square-o"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

