<div class="col-sm-10 offset-1">
  <div class="form-group">
    <button class="btn btn-info pull-right" routerLink="/departament/create">Crear Departamento</button>
  </div>
  <div class="clearfix"></div>
  <br>
  <div class="card">
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Nombre</th>
        <th>Codigo</th>
        <th>Opciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let departament of departamentos">
        <td>{{departament.id}}</td>
        <td>{{departament.depName}}</td>
        <td>{{departament.depCode}}</td>
        <td>
          <button type="button" class="btn btn-outline-info" (click)="editDepartament(departament)">
            <span class="fa fa-lg fa-pencil-square-o"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
