<div class="col-sm-6 offset-3">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <legend>Formulario Departamento</legend>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="depName">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="depName"
               required
               [(ngModel)]="departament.depName" name="depName"
               #name="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="depCode">Codigo</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="depCode"
               [(ngModel)]="departament.depCode" name="depCode">
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Guardar</button>
    <a class="btn btn-info pull-left" routerLink="/departament">Cancelar</a>
  </form>

</div>
