<div id="wizard-progress">
  <ol class="step-indicator">
    <li class="active">
      <div class="step"><i class="fa fa-user"></i></div>
      <div class="caption hidden-xs hidden-sm">Informacion Personal</div>
    </li>
    <li class="complete" [ngClass]="{'not-active' : !modeUpdate}" routerLink="/employee/profile/create">
      <div class="step"><i class="fa fa-address-card" aria-hidden="true"></i></div>
      <div class="caption hidden-xs hidden-sm">Registro Perfil</div>
    </li>
    <li class="complete" [ngClass]="{'not-active' : !modeUpdate}" routerLink="/employee/contract/create">
      <div class="step"><i class="fa fa-clipboard" aria-hidden="true"></i></div>
      <div class="caption hidden-xs hidden-sm">Contrato</div>
    </li>
  </ol>
</div>
<div class="col-6 offset-3">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <legend>Crear Empleado</legend>
    <hr>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="firstName">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="firstName"
               required
               [(ngModel)]="employee.firstName" name="firstName"
               #name="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="lastName">Apellido</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="lastName"
               required
               [(ngModel)]="employee.lastName" name="lastName"
               #name="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="ci">CI</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="ci"
               required
               [(ngModel)]="employee.ci" name="ci"
               #name="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <label for="departamentId" class="col-form-label col-sm-2">Departamento</label>
      <div class="col-sm-10">
        <select class="form-control"  id="departamentId"
                required
                [(ngModel)]="employee.departamentId" name="departamentId">
          <option *ngFor="let departamento of departaments" [value]="departamento.id">{{departamento.depName}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="cargoId" class="col-form-label col-sm-2">Cargo</label>
      <div class="col-sm-10">
        <select class="form-control"  id="cargoId"
                required
                [(ngModel)]="employee.cargoId" name="cargoId">
          <option *ngFor="let cargo of cargos" [value]="cargo.id">{{cargo.nombre}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Fecha Nac</label>
      <div class="col-sm-10">
        <div class="input-group">
          <span class="form-control">{{employee.fechaNacimiento | date:'yyyy-MM-dd'}}</span>
          <input class="form-control" placeholder="yyyy-mm-dd"
                 id="fechaNacimiento"
                 type="hidden"
                 name="employee.fechaNacimiento"
                 [(ngModel)]="employee.fechaNacimiento" ngbDatepicker #fechaNacimiento="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="fechaNacimiento.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="estadoCivil">Estado Civil</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="estadoCivil"
               required
               [(ngModel)]="employee.estadoCivil" name="estadoCivil"
               #name="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="celular">Celular</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="celular"
               required
               [(ngModel)]="employee.celular" name="celular"
               #name="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="telefono">Telefono</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="telefono"
               required
               [(ngModel)]="employee.telefono" name="telefono"
               #name="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="direccion">Direccion</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="direccion"
               [(ngModel)]="employee.direccion" name="direccion"
               #name="ngModel">
      </div>
    </div>
    <button type="submit" class="btn btn-success" *ngIf="!modeUpdate" [disabled]="!heroForm.form.valid">Guardar</button>
    <button type="submit" class="btn btn-success" *ngIf="modeUpdate"> Actualizar</button>
  </form>
</div>
