<div class="col-6 offset-3">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <legend>Formulario Asignar Equipo</legend>
    <div class="form-group row">
      <label for="tipoContractId" class="col-form-label col-sm-2">Equipos</label>
      <div class="col-sm-10">
        <select class="form-control"  id="tipoContractId"
                required
                [(ngModel)]="employeeEquipo.equipoId" name="tipoContractId">
          <option *ngFor="let equipo of equipos" [value]="equipo.id">{{equipo.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="description">Description</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="description"
                  rows="6"
                  [(ngModel)]="employeeEquipo.description" name="description">
        </textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Asignar</button>
  </form>
</div>
<br><br>
<div class="container">
  <div class="card">
    <div class="card-header">
      Equipos Asignados
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Equipo</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employeeEquipo of employeeEquipos">
          <td>{{employeeEquipo.id}}</td>
          <td>{{employeeEquipo.equipoName}}</td>
          <td>{{employeeEquipo.description}}</td>
          <td>
            <button type="button" class="btn btn-link"
                    placement="left" ngbTooltip="ELIMINAR ASIGNACION DE OBRA"
                    (click)="deleteEmployeeObra(employeeEquipo)">
              <span class="fa fa-lg fa-trash text-danger"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
