<div class="col-sm-10 offset-1">
  <div class="form-group">
    <button class="btn btn-info pull-right"
            placement="top" ngbTooltip="REGISTRAR NUEVO EQUIPO"
            routerLink="/equipo/create">Nuevo Equipo</button>
    <span class="btn btn-outline-secondary pull-right" (click)="isCollapsedFilter = !isCollapsedFilter"
          placement="top" ngbTooltip="BUSCAR"
          [attr.aria-expanded]="!isCollapsedFilter" aria-controls="collapseExample">
      <i class="fa fa-lg fa-search"></i>
    </span>
  </div>
  <br>
  <div class="clearfix"></div>
  <br><br>
  <div [ngbCollapse]="isCollapsedFilter" class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="card-body">
          <div class="form-group row">
            <label for="typeEquipoId" class="col-form-label col-sm-4">Buscar por Tipo Equipo</label>
            <div class="col-sm-8">
              <div class="input-group">
                <select class="form-control"  id="typeEquipoId"
                        required
                        [(ngModel)]="typeEquipoId" name="typeEquipoId">
                  <option *ngFor="let tipoEquipo of tipoEquipos" [value]="tipoEquipo.id">
                    {{tipoEquipo.nombre_equipo}}
                  </option>
                </select>
                <div class="input-group-append">
                  <button class="btn btn-outline-info"
                          placement="top" ngbTooltip="BUSCAR"
                          type="button" (click)="getEquiposFilter()" [disabled]="!typeEquipoId">
                    <i class="fa fa-lg fa-search"></i>
                  </button>
                  <button class="btn btn-outline-warning"
                          placement="top" ngbTooltip="RESETEAR FILTRO"
                          type="button" (click)="getEquiposList()">
                    <i class="fa fa-lg fa-eraser"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Codigo</th>
      <th scope="col">Tipo Equipo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let equipo of equipos">
      <td>{{equipo.name}}</td>
      <td>{{equipo.code}}</td>
      <td>{{equipo.tipoEquipoName}}</td>
      <td>{{equipo.description}}</td>
      <td>
        <button type="button" class="btn btn-outline-info" (click)="editEquipo(equipo)">
          <span class="fa fa-lg fa-pencil-square-o"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
