<div class="col-sm-10 offset-1">
  <button class="btn btn-info pull-right" routerLink="/obra/create">Crear Obra</button>
  <div class="clearfix"></div>
  <br>
  <div class="card">
    <div class="card-header">
      Obras
    </div>
    <div class="card-body">
      <p>
        <button type="button" class="btn btn-outline-secondary" (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          <i class="fa fa-search"></i>
        </button>
        <button type="button" class="btn btn-outline-warning" (click)="getObrasList()">
          Restaurar
        </button>
      </p>
      <div [ngbCollapse]="isCollapsed" class="col-sm-12">
        <div class="card">
          <div class="card-body form-group row">
            <div class="col-sm-6">
              <div>Desde:</div>
              <ngb-datepicker #dp [(ngModel)]="obra.fecha_inicio" (navigate)="date = $event.next"></ngb-datepicker>
            </div>
            <div class="col-sm-6">
              <div>Hasta</div>
              <ngb-datepicker #dp [(ngModel)]="obra.fecha_fin" (navigate)="date = $event.next"></ngb-datepicker>
              <button class="btn btn-info" [disabled]="!obra.fecha_inicio || !obra.fecha_fin" (click)="getObrasFilter()">Buscar</button>
            </div>
          </div>
        </div>
      </div>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Codigo</th>
          <th scope="col">Ubicacion</th>
          <th scope="col">
            Fecha Inicio
          </th>
          <th scope="col">
            Fecha Final
          </th>
          <th scope="col">Descripcion</th>
          <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let obra of obras">
          <td>{{obra.nombre}}</td>
          <td>{{obra.code}}</td>
          <td>{{obra.ubicacion}}</td>
          <td>{{obra.fecha_inicio | date:'yyyy-MM-dd'}}</td>
          <td>{{obra.fecha_fin | date:'yyyy-MM-dd'}}</td>
          <td>{{obra.descripcion}}</td>
          <td>
            <button type="button" class="btn btn-outline-info"
                    placement="right" ngbTooltip="EDITAR OBRA"
                    (click)="editObra(obra)">
              <span class="fa fa-lg fa-pencil-square-o"></span>
            </button>
            <button type="button" class="btn btn-outline-info"
                    placement="right" ngbTooltip="AGREGAR ETAPAS A LA OBRA"
                    (click)="addObraEtapa(obra)">
              <span class="fa fa-lg fa-newspaper"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
