<div class="offset-3 col-sm-6">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <legend>Formulario crear Obra</legend>
    <hr>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="nombre">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre"
               required
               [(ngModel)]="obra.nombre" name="nombre"
               #name="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="code">Codigo</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="code"
               [(ngModel)]="obra.code" name="code">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="ubicacion">Ubicacion</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="ubicacion"
               [(ngModel)]="obra.ubicacion" name="ubicacion">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="fecha_inicio">Fecha Inicio</label>
      <div class="col-sm-10">
        <div class="input-group">
          <span class="form-control">{{obra.fecha_inicio | date:'yyyy-MM-dd'}}</span>
          <input class="form-control" placeholder="yyyy-mm-dd"
                 id="fecha_inicio"
                 type="hidden"
                 name="fecha_inicio" [(ngModel)]="obra.fecha_inicio" ngbDatepicker #fechaInicio="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="fechaInicio.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="fecha_fin">Fecha Final</label>
      <div class="col-sm-10">
        <div class="input-group">
          <span class="form-control">{{obra.fecha_fin | date:'yyyy-MM-dd'}}</span>
          <input class="form-control" placeholder="yyyy-mm-dd"
                 id="fecha_fin"
                 type="hidden"
                 name="fecha_fin" [(ngModel)]="obra.fecha_fin" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="fecha_fin">Description</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="descripcion"
                  rows="6"
               [(ngModel)]="obra.descripcion" name="descripcion">
        </textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-success" *ngIf="!modeUpdate" [disabled]="!heroForm.form.valid">Guardar</button>
    <button type="submit" class="btn btn-success" *ngIf="modeUpdate">Actualizar</button>
  </form>
</div>
