<div id="wizard-progress">
  <ol class="step-indicator">
    <li class="complete" routerLink="/employee/create">
      <div class="step"><i class="fa fa-user"></i></div>
      <div class="caption hidden-xs hidden-sm">Informacion Personal</div>
    </li>
    <li class="active">
      <div class="step"><i class="fa fa-address-card" aria-hidden="true"></i></div>
      <div class="caption hidden-xs hidden-sm">Registro Perfil</div>
    </li>
    <li class="complete" routerLink="/employee/contract/create">
      <div class="step"><i class="fa fa-clipboard" aria-hidden="true"></i></div>
      <div class="caption hidden-xs hidden-sm">Contrato</div>
    </li>
  </ol>
</div>
<div class="col-6 offset-3">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <legend>Formulario Perfil Empleado</legend>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="experiencia">Años de experiencia</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="experiencia"
               required
               [(ngModel)]="profile.experiencia" name="experiencia"
               #name="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="firstName">Sector</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="firstName"
               [(ngModel)]="profile.sector" name="firstName"
               #name="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="descripcion">Formacion</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="descripcion"
               [(ngModel)]="profile.formacion" name="descripcion">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="especializacion">Especializacion</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="especializacion"
                  rows="6"
                  [(ngModel)]="profile.especializacion" name="especializacion">
        </textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Guardar</button>
  </form>
</div>

