<div class="col-6 offset-3">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <legend>Formulario Asignar Obra</legend>
    <div class="form-group row">
      <label for="tipoContractId" class="col-form-label col-sm-2">Obras</label>
      <div class="col-sm-10">
        <select class="form-control"  id="tipoContractId"
                required
                [(ngModel)]="employeeObra.obraId" name="tipoContractId">
          <option *ngFor="let obra of obras" [value]="obra.id">{{obra.nombre}}</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Asignar</button>
  </form>
</div>
<br><br>
<div class="container">
  <div class="card">
    <div class="card-header">
      Obras Asignados
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Obra</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Opciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employeeObra of employeeObras">
          <td>{{employeeObra.id}}</td>
          <td>{{employeeObra.nameObra}}</td>
          <td>{{employeeObra.description}}</td>
          <td>
            <button type="button" class="btn btn-link"
                    placement="left" ngbTooltip="ELIMINAR ASIGNACION DE OBRA"
                    (click)="deleteEmployeeObra(employeeObra)">
              <span class="fa fa-lg fa-trash text-danger"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
