<div class="offset-3 col-sm-6">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <legend>Formulario crear Etapa</legend>
    <hr>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="nombre">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre"
               required
               [(ngModel)]="etapa.nombre" name="nombre"
               #name="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="code">Codigo</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="code"
               [(ngModel)]="etapa.code" name="code">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="ubicacion">Nro Empleados</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="ubicacion"
               [(ngModel)]="etapa.nroEmpleados" name="ubicacion">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="fecha_inicio">Fecha Inicio</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="fecha_inicio"
               [(ngModel)]="etapa.fechaInicio" name="fecha_inicio">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="fecha_fin">Fecha Final</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="fecha_fin"
               [(ngModel)]="etapa.fechaFin" name="fecha_fin">
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Guardar</button>
  </form>
</div>
