<div class="col-sm-10 offset-1">
  <div class="form-group">
    <button class="btn btn-info pull-right" routerLink="/cargo/create">Nuevo Cargo</button>
  </div>
  <div class="clearfix"></div>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Fecha Inicio</th>
      <th scope="col">Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cargo of cargos">
      <td>{{cargo.nombre}}</td>
      <td>{{cargo.fechaInicio}}</td>
      <td>{{cargo.descripcion}}</td>
      <td>
        <button type="button" class="btn btn-outline-info" (click)="editCargo(cargo)">
          <span class="fa fa-lg fa-pencil-square-o"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
