<div class="col-6 offset-3">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <legend>Nuevo Equipo</legend>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="nombre_equipo">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre_equipo"
               required
               [(ngModel)]="equipo.name" name="nombre_equipo"
               #name="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="code">Codigo</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="code"
               [(ngModel)]="equipo.code" name="code"
               #name="ngModel">
      </div>
    </div>
    <div class="form-group row">
      <label for="tipoContractId" class="col-form-label col-sm-2">Tipo Equipo</label>
      <div class="col-sm-10">
        <select class="form-control"  id="tipoContractId"
                required
                [(ngModel)]="equipo.tipoEquipoId" name="tipoContractId">
          <option *ngFor="let tipoEquipo of tipoEquipos" [value]="tipoEquipo.id">{{tipoEquipo.nombre_equipo}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="descripcion">Descripcion</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="descripcion"
               [(ngModel)]="equipo.description" name="descripcion">
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Guardar</button>
  </form>
</div>
