<div id="wizard-progress">
  <ol class="step-indicator">
    <li class="complete" routerLink="/employee/create">
      <div class="step"><i class="fa fa-user"></i></div>
      <div class="caption hidden-xs hidden-sm">Informacion Personal</div>
    </li>
    <li class="complete" routerLink="/employee/profile/create">
      <div class="step"><i class="fa fa-address-card" aria-hidden="true"></i></div>
      <div class="caption hidden-xs hidden-sm">Registro Perfil</div>
    </li>
    <li class="active">
      <div class="step"><i class="fa fa-clipboard" aria-hidden="true"></i></div>
      <div class="caption hidden-xs hidden-sm">Contrato</div>
    </li>
  </ol>
</div>
<div class="col-6 offset-3">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <legend>Formulario Contrato</legend>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="initDate">Fecha Inicio</label>
      <div class="col-sm-10">
        <div class="input-group">
          <span class="form-control">{{contract.initDate | date:'yyyy-MM-dd'}}</span>
          <input class="form-control" placeholder="yyyy-mm-dd"
                 id="initDate"
                 type="hidden"
                 name="initDate" [(ngModel)]="contract.initDate" ngbDatepicker #fechaInicio="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="fechaInicio.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="endDate">Fecha Final</label>
      <div class="col-sm-10">
        <div class="input-group">
          <span class="form-control">{{contract.endDate | date:'yyyy-MM-dd'}}</span>
          <input class="form-control" placeholder="yyyy-mm-dd"
                 id="endDate"
                 type="hidden"
                 name="initDate" [(ngModel)]="contract.endDate" ngbDatepicker #endDate="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="endDate.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="tipoContractId" class="col-form-label col-sm-2">Tipo Contrato</label>
      <div class="col-sm-10">
        <select class="form-control"  id="tipoContractId"
                required
                [(ngModel)]="contract.tipoContractId" name="tipoContractId">
          <option *ngFor="let tipoContrato of tipoContratos" [value]="tipoContrato.id">{{tipoContrato.name}}</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="especializacion">Descripcion</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="especializacion"
                  rows="6"
                  [(ngModel)]="contract.description" name="especializacion">
        </textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-success" *ngIf="!modeUpdate" [disabled]="!heroForm.form.valid">Guardar</button>
    <button type="submit" class="btn btn-success" *ngIf="modeUpdate">Actualizar</button>
  </form>
</div>
