<div class="col-sm-10 offset-1">
  <div class="form-group">
    <button class="btn btn-info pull-right" routerLink="/tipoequipo/create">Nuevo Tipo Equipo</button>
  </div>
  <div class="clearfix"></div>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Codigo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tipoEquipo of tipoEquipos">
      <td>{{tipoEquipo.nombre_equipo}}</td>
      <td>{{tipoEquipo.code}}</td>
      <td>{{tipoEquipo.nombre_maquina}}</td>
      <td>
        <button type="button" class="btn btn-outline-info" (click)="editTipoEquipo(tipoEquipo)">
          <span class="fa fa-lg fa-pencil-square-o"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
