<div class="container">
  <button class="btn btn-info pull-right" routerLink="/almacen/create">Crear Almacen</button>
  <div class="clearfix"></div>
  <br>
  <div class="card">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Codigo</th>
        <th scope="col">Ubicacion</th>
        <th scope="col">Opciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let almacen of almacens">
        <td>{{almacen.name}}</td>
        <td>{{almacen.code}}</td>
        <td>{{almacen.ubicacion}}</td>
        <td>
          <button type="button" class="btn btn-outline-info" (click)="editAlmacen(almacen)">
            <span class="fa fa-lg fa-pencil-square-o"></span>
          </button>
          <button type="button" class="btn btn-outline-info" (click)="deleteAlmacen(almacen.id)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
