<div class="col-6 offset-3">
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
    <legend>Nuevo Cargo</legend>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="nombre">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre"
               required
               [(ngModel)]="cargo.nombre" name="nombre"
               #name="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="firstName">Fecha Inicio</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="firstName"
               [(ngModel)]="cargo.fechaInicio" name="firstName"
               #name="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="descripcion">Descripcion</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="descripcion"
               [(ngModel)]="cargo.descripcion" name="descripcion">
      </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Guardar</button>
  </form>
</div>
