<div class="col-sm-10 offset-1">
  <div class="form-group">
    <button class="btn btn-info pull-right" routerLink="/typecontract/create">Nuevo Tipo de Contrato</button>
  </div>
  <div class="clearfix"></div>
  <br>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Codigo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Opciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let typeContract of typeContracts">
      <td>{{typeContract.name}}</td>
      <td>{{typeContract.code}}</td>
      <td>{{typeContract.descripcion}}</td>
      <td>
        <button type="button" class="btn btn-outline-info" (click)="editTypeContract(typeContract)">
          <span class="fa fa-lg fa-pencil-square-o"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
