/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";

// Theme customization
@import "theme/theme";


$wizard-color-neutral: #ccc !default;
$wizard-color-active: #2ca8ff !default;
$wizard-color-complete: #5eae34 !default;
$wizard-container-width: 100% !default;
$wizard-step-width-height: 64px !default;
$wizard-step-font-size: 24px !default;

#wizard-progress {
  width: $wizard-container-width;
  margin: 20px auto 0 auto;

  .step-indicator {
    border-collapse: separate;
    display: table;
    margin-left: 0px;
    position: relative;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    padding-left: 0;

    li {
      display: table-cell;
      position: relative;
      float: none;
      padding: 0;
      width: 1%;

      &:after {
        background-color: $wizard-color-neutral;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        width: 100%;
        top: $wizard-step-width-height/2;
      }

      &:after {
        left: 50%;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      &.active {
        .step {
          border-color: $wizard-color-active;
          color: $wizard-color-active;
        }

        .caption {
          color: $wizard-color-active;
        }
      }

      &.complete {
        &:after {
          background-color: $wizard-color-complete;
        }
        .step {
          border-color: $wizard-color-complete;
          color: $wizard-color-complete;
        }
        .caption {
          color: $wizard-color-complete;
        }
      }
      &.complete.not-active {
        &:after {
          background-color: $wizard-color-neutral;
        }
        .step {
          border-color: $wizard-color-neutral;
          color: $wizard-color-neutral;
        }
        .caption {
          color: $wizard-color-neutral;
        }
      }
    }

    .step {
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid $wizard-color-neutral;
      color: $wizard-color-neutral;
      font-size: $wizard-step-font-size;
      height: $wizard-step-width-height;
      line-height: $wizard-step-width-height;
      margin: 0 auto;
      position: relative;
      width: $wizard-step-width-height;
      z-index: 1;

      &:hover {
        cursor: pointer;
      }
    }

    .caption {
      color: $wizard-color-neutral;
      padding: 11px 16px;
    }
  }
}
.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}
